{% extends "_layout" %}

{% block back %}{% endblock %}
{% block title %}
{% endblock %}

{% set id_left = 'menu' %}
{% block left %}
    {% include 'includes/menu' %}
{% endblock %}


{% set id_right = 'voices' %}
{% block right %}
    <div class="work">
        {% set entries = craft.entries({ section: 'voices', with: [ 'thumbnail', 'category.slug' ] }).all() %}
        

        {% for entry in entries %}

            {% set thumb = entry.thumbnail[ 0 ] %}
            {% set orient = thumb.width <= thumb.height ? 'portrait' : 'landscape' %}
            {% set categories = [] %}
            {% for category in entry.voicesCategory %}
                {% set categories = categories | merge([ category.slug ]) %}
            {% endfor %}
            <a
                class="entry"
                href="{{ entry.url }}"
                data-categories="{{ categories | join(', ') }}"
            >
                <div class="entry__image entry__image--{{ orient }}">
                    {% include 'includes/asset' with {
                        asset: thumb,
                        fit: orient == 'portrait' ? 'contain' : 'cover'
                    } %}       
                </div>
                <div class="entry__caption">
                    <span class="entry__title">{{ entry.title }}</span><br>
                    <span class="entry__title">{{ entry.media }}</span>
                </div>
            </a>
        {% endfor %}
    </div>
    
    
{% endblock %}