<div class="menu">
    <!--<div class="menu__lang">-->
    <!--    {% for site in craft.app.sites.getAllSites() %}-->
    <!--        <a href="{{ site.getBaseUrl }}" class="{{ site.handle }}{% if site.handle == currentSite.handle %} active{% endif %}">{{ site.handle }}</a>-->
    <!--    {% endfor %}-->
    <!--</div>-->
    <div class="menu__main" data-style="font-size: 7vmin">
        <div class="menu__accordion" id="menu-accordion-0">
            <a class="menu__title" href="/" data-category-filter=""><span>{{ 'Work' | t }}</span></a>
            <div class="menu__items">
                {% set categories = craft.categories.group('categories').all() %} 
                {% for category in categories %}
                    <a class="menu__item" data-category-filter='{{ category.slug }}' href="/?side=1"><span>{{ category.title }}</span></a>
                {% endfor %}
            </div>
        </div>
        <a class="menu__spacer">&nbsp;</a>
        <div class="menu__accordion" id="menu-accordion-1">
            <a class="menu__title"><span>{{ 'Company' | t }}</span></a>
            <div class="menu__items">
                
                <a class="menu__item" href="/about?side=1" data-category-filter=''><span>{{ 'About' | t }}</span></a>
                <a class="menu__item" href="/people?side=1" data-category-filter=''><span>{{ 'People' | t }}</span></a>

                {% for handle in [ 'contact' ] %}
                    {% set entry = craft.entries.section( handle ).one %}
                    {% if entry %}
                        <a class="menu__item" href="{{ entry.url }}" data-side="{{ handle == 'contact' ? 1 : 0 }}"><span>{{ entry.title }}</span></a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <a class="menu__spacer">&nbsp;</a>
        <div class="menu__accordion" id="menu-accordion-2">
            <a class="menu__title" href="/voices" data-category-filter=""><span>{{ 'Voices' | t }}</span></a>
            <div class="menu__items">
                {% set categories = craft.categories.group('voicesCategories').all() %} 
                {% for category in categories %}
                    <a class="menu__item" data-category-filter='{{ category.slug }}' href="/voices?side=1"><span>{{ category.title }}</span></a>
                {% endfor %}
            </div>
        </div>
        <a class="menu__spacer">&nbsp;</a>
        <a class="menu__title" href="/map?side=1"><span>{{ 'Map' | t }}</span></a>
        
        <a class="menu__spacer">&nbsp;</a>
        <a class="" href="/all">
            <input type="text" class="menu__search menu__search--input" required="required"/>
        </a>

    </div>
    <div class="menu__social">
        <a href="{{ meta.metaInstagram }}" class="menu__social--icon" target="_blank">{% include 'includes/icons/insta.html' %}</a>
        <a href="{{ meta.metaTwitter }}" class="menu__social--icon" target="_blank">{% include 'includes/icons/fb.html' %}</a>
        <br>
        <span>
        <a href="mailto:{{ meta.metaEmail }}">{{ meta.metaEmail }}</a><br>
        +44 (0)20 7566 7440
        </span>
    </div>
</div>