{% extends "_layout" %}

{% block title %}
	<h1 class="map-title">{{ entry.title }}</h1>
{% endblock %}

{% set id_left = 'map_left' %}

{% block left %}

	<div class="map-controls">

		<div class="map-filters">
			<div class="map-filters__title">{{ "Filters" | t }}</div>
			<a data-filter="" class="map-filters__clear black">{{ "Clear filters" | t }}</a>
			{% for category in craft.categories.group("mapCategories") %}
				<a class="map-filters__category map-filters__category_active" style="color: {{ category.color }}" data-filter="{{ category.slug }}" data-color="{{category.color}}">{{ category.title }}</a>
			{% endfor %}
		</div>

		<div class="map-views">
			<div class="map-views__title">{{ "View" | t }}</div>
			{% for view in entry.mapViews %}
				<div class="map-views__view" data-lat="{{ view.location.lat }}" data-lng="{{ view.location.lng }}" data-zoom="{{ view.location.zoom }}">
					{{ view.viewName }}
				</div>
			{% endfor %}
		</div>

	</div>

{% endblock %}


{% set id_right = 'map_right' %}
{% block right %}

	{% set mapEntries = craft.entries({
        section: null,
        mapLocation: ":notempty:",
        limit: null
    }).all() %}

	<div class="map-container">
		<div class="map-container__map"></div>
		{% for entry in mapEntries %}
			{% set categories = [] %}
			{% for category in entry.mapCategories.all %}
				{% set categories = categories | merge([category.slug]) %}
			{% endfor %}
			{% set color = entry.mapCategories.count ? entry.mapCategories.one.color : "#dcccad" %}
			<div class="map-item" data-lat="{{ entry.mapLocation.lat }}" data-lng="{{ entry.mapLocation.lng }}" data-categories="{{ categories | join(',') }}" style="--default-color: {{color}}">
				<a class="map-item__content" href="{{ entry.url }}">
					{% set thumb = entry.thumbnail[ 0 ] %}
					{% set orient = thumb.width <= thumb.height ? 'portrait' : 'landscape' %}
					<div class="map-item__image entry__image--{{ orient }}">
						{% include 'includes/asset' with {
                            asset: thumb,
                            fit: orient == 'portrait' ? 'contain' : 'cover'
                        } %}
					</div>
					<div class="map-item__caption">
						<span class="map-item__title">{{ entry.title }}</span><br>
						<span class="map-item__location">{{ entry.location }}</span>
					</div>
				</a>
				<div class="map-item__dot"></div>
			</div>
		{% endfor %}
		<div class="map-container__controls">
			<div class="zoom-in">+</div>
			<div class="zoom-out">–</div>
		</div>
		{% for entry in mapEntries %}
			{% set category = entry.mapCategories.one %}
			{% set color = category ? category.color : null %}
			<a class="map-container__preview" style="--default-color: {{color}}" href="{{ entry.url }}">
				{% set thumb = entry.thumbnail[ 0 ] %}
				{% set orient = thumb.width <= thumb.height ? 'portrait' : 'landscape' %}
				<div class="map-item__image entry__image--{{ orient }}">
					{% include 'includes/asset' with {
                        asset: thumb,
                        fit: orient == 'portrait' ? 'contain' : 'cover'
                    } %}
				</div>
				<div class="map-item__caption">
					<span class="map-item__title">{{ entry.title }}</span><br>
					<span class="map-item__location">{{ entry.location }}</span>
				</div>
			</a>
		{% endfor %}
	</div>

{% endblock %}
